@import 'variables';
@import 'animation.scss';
@import 'button.scss';

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    // color: $default-color;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $default-color;
    &:hover {
        color: $default-color;
    }
}

.box-shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
}

.cursor {
    cursor: pointer;
}

.wrap-text {
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.box {
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 100%;
}

.red-text {
    color: #dc3545;
}

.grey-text {
    color: #a5a3ae;
}